<div class="card">
    <div class="header">
        <h4 class="title">{{ title }}</h4>
        <p class="category">{{ subtitle }}</p>
    </div>
    <div class="content">
        <ng-content></ng-content>
        <div class="footer">
            <div class="legend">
                <span *ngFor="let item of legendItems">
                    <i [ngClass]="item.imageClass"></i> {{ item.title }}
                </span>
            </div>
        </div>
    </div>
</div>