/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toasta/styles/style-bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '~mdbootstrap/css/mdb.min.css';
@import "~ngx-smart-modal/ngx-smart-modal";

@font-face {
    font-family: 'Oranienbaum';
    src: url(assets/Fonts/Oranienbaum.ttf);
}


@font-face {
    font-family: 'ubuntu';
    src: url(assets/Fonts/Ubuntu-R.ttf);
}

/* Tableaux */

.fixedbutton {
    position: fixed;
      right: 2%;
      top:17%;
      z-index: 5000;
}
.boutonCreer {
    float: right;
    margin-bottom: 1em;
    background: rgb(18, 171, 219);
    color: white;
    font-size: 11pt;
    padding: 0.8em;
    border-radius: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(58, 58, 58);
}

.boutonCreer:hover{
    color: white;
    background: rgb(62, 180, 216);
    box-shadow: 0px 5px 15px rgb(58, 58, 58);
}

.boutonCreer:active {
    color: white;
    box-shadow: none;
}

.boutonLien {
    float: right;
    margin-bottom: 1em;
    background: rgb(0, 112, 173);
    color: white;
    font-size: 11pt;
    padding: 0.8em;
    border-radius: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 10px rgb(58, 58, 58);
    border: none;
    cursor: pointer;
}

.boutonLien:hover{
    color: white;
    background: rgb(32, 117, 163);
    box-shadow: 0px 5px 15px rgb(58, 58, 58);
}

.boutonLien:active {
    color: white;
    box-shadow: none;
}

.boutonLien.retour {
    margin-right: 4em;
    margin-top: 1.5em;
}


.icon {
    font-size: 18px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-family: ubuntu;
  }

.ion-ios-create {
    color: rgb(18, 171, 219);
}

.editIcon {
    font-size: 26px;
}

.ion-ios-eye{
    color: #8FC63E;
 }

.ion-md-checkmark-circle-outline {
    color: green;
    font-size: 26px;
    margin-right: 0.3em;
}

.ion-md-close-circle-outline{
    color: red;
    font-size: 26px;
}

.ion-md-trash{
    color: #FF304C;
}

.ion-ios-lock{
    color: rgb(43, 10, 61);
}

.ion-ios-trash {
    color: red;
}

.ion-ios-list {
    color: #8FC63E;
    font-weight: bold;
}


.edit{
    border: none;
    background: none;
}


/* Style général */
body, html {
    height: 100%;
}


body{
    font-family: Verdana,'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 0.8em;
    margin: 0;
    background: url(assets/Images/wpCG3.png) fixed center;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titreH2 {
    padding-top: 2em;
    border-bottom: 1px solid rgb(226, 226, 226);
}

h2{
    font-family: ubuntu;
    font-size: 2em;
    text-align: left;
    margin: 1em;
    color: rgb(0, 112, 173);
    font-weight: bold;
}

table .table .dataTable .table-striped .table-bordered {
    width: 1000px;
}


h1{
    font-size: 1.5em;
    font-weight: normal;
    margin: auto;
    margin-left: 1em;
}


/* Accueil */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img{
    width: 30%;
    height: 30%;
}

header p {
    font-size: 2vw;
}

 /* Desactivation input */

input::placeholder {
    color: lightgrey;
    font-size: 10pt;
    font-style: italic;
  }

textarea::placeholder {
    color: lightgrey;
    font-size: 10pt;
    font-style: italic;
}

select::placeholder {
    color: lightgrey;
    font-size: 10pt;
    font-style: italic;
}


.inputEnable {
    border-color: #ced4da;
    background-color: #e9ecef;
    color: #495057;
    opacity: 1;
    margin-right: 5px;
    margin-left: 5px;
}

.inputEnable:focus {
    border-color: #80bdff;
    background-color: #e9ecef;
    color: #495057;
    opacity: 1;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.inputDisable:disabled {
    cursor: default;
    background: none;
    border: none;
    margin-right: 5px;
    min-width:130%;
}


.termine {
    background: rgb(201, 201, 201);
}


.formContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formContent .form {
    margin: auto;
    padding: 30px;
    background: #e9ecef;
    box-shadow: 0px 5px 10px rgb(151, 150, 150);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
}


.row {
    display: flex;
}

.param {
    justify-content: center;
}

.bouton {
    align-items: center;
}

/* BLUE TAB */

.table {
    box-shadow: 0px 2px 10px rgb(58, 58, 58);
}

.head-bluetab {
    color: #FFF;
    background-color: rgb(0, 112, 173);
}

.table thead.head-bluetab>tr>th {
    border: 1px solid #FFF;
    font-weight: bold;
    padding: .7rem;
    vertical-align: middle;
}

.table>tbody>tr>td {
    color: rgb(0, 112, 173);
    padding: .1rem .2rem .1rem .2rem;
    border: 1px solid lightgray;
    vertical-align: top;
}

.table>tbody>tr>td>div {
    padding: .4rem;
}

.table>tbody>tr>td>input {
    color: rgb(0, 112, 173);
    font-size: 1em;
}

/* Animation de chargement */

.app-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9999;
}

.app-loading .spinner {
    height: 150px;
    width: 150px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: rgb(18, 171, 219);
}

@keyframes rotate {
100% {
    transform: rotate(360deg);
}
}
@keyframes dash {
0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
}
100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
}
}

.app-loading .logo {
    width: 100px;
    height: 100px;
    background: url(./assets/Images/logoBlanc.jpg) center no-repeat;
    background-size: cover;
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.container{
    margin-top : 1px;
    margin-left : 2%;
}
