/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: .4em;
  left: 25%;
  height: 25px;
  width: 25px;
  background-color: #fff;
}


/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  cursor: default;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(137, 162, 182);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.containerEdit {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerEdit input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkEdit {
  position: absolute;
  top: .4em;
  left: 25%;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerEdit:hover input ~ .checkmarkEdit {
  background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */
.containerEdit input:checked ~ .checkmarkEdit {
  background-color: rgb(18, 171, 219);
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkEdit:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerEdit input:checked ~ .checkmarkEdit:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerEdit .checkmarkEdit:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nom:hover,#prenom:hover,#mail:hover,#pum:hover,#em:hover,#admin:hover,#com:hover{
  text-decoration: underline;
}

.selected{
  background-color: rgb(18, 171, 219);
}


td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
