<a routerLink="/admin/creerusers" class="boutonCreer">Nouvel utilisateur</a>

<table class="table">
	<thead class="head-bluetab">
		<tr>
			<th id="nom" (click)="this.trier('nom')">
				Nom
			</th>
			<th id="prenom" (click)="this.trier('prenom')">
				Prénom
			</th>
			<th id="mail" (click)="this.trier('mail')">
				Mail
			</th>
			<th id="compt" (click)="this.trierRole('compt')" class="selected">COMPT</th>
			<th id="admin" (click)="this.trierRole('admin')" class="selected">ADMIN</th>
			<th id="com" (click)="this.trierRole('com')" class="selected">COM</th>
			<th>
				Sites
			</th>
			<th>
				Editer
			</th>
		</tr>
		<tr>
			<th>
				<input [(ngModel)]="this.searchTextNom" type="text" class="form-control"
					(keyup)="recupererUtilisateursPourTableau()" placeholder="Filtre par Nom" />
			</th>
			<th>
				<input [(ngModel)]="this.searchTextPrenom" type="text" class="form-control"
					(keyup)="recupererUtilisateursPourTableau()" placeholder="Filtre par Prenom" />
			</th>
			<th>
				<input [(ngModel)]="this.searchTextMail" type="text" class="form-control"
					(keyup)="recupererUtilisateursPourTableau()" placeholder="Filtre par Mail" />
			</th>
			<th>

			</th>
			<th>

			</th>
			<th>

			</th>
			<th>
				<input [(ngModel)]="this.searchTextSite" type="text" class="form-control"
					(keyup)="recupererUtilisateursPourTableau()" placeholder="Filtre sur les sites" />
			</th>
			<th>

			</th>
		</tr>
	</thead>

	<tbody style="background-color: white">
		<tr
			*ngFor="let utilisateur of this.utilisateursPourTab | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">

			<td>
				<input type="text" [(ngModel)]="utilisateur.nom" [disabled]="editCurrentRow != utilisateur.id"
					[ngClass]="{'form-control': true,
               				'inputEnable': editCurrentRow == utilisateur.id,
                			'inputDisable': editCurrentRow != utilisateur.id}" />
			</td>
			<td>
				<input type="text" [(ngModel)]="utilisateur.prenom" [disabled]="editCurrentRow != utilisateur.id"
					[ngClass]="{'form-control': true,
               				'inputEnable': editCurrentRow == utilisateur.id,
                			'inputDisable': editCurrentRow != utilisateur.id}" />
			</td>
			<td>
				<input type="email" [(ngModel)]="utilisateur.mail" [disabled]="editCurrentRow != utilisateur.id"
					[ngClass]="{'form-control': true,
               				'inputEnable': editCurrentRow == utilisateur.id,
                			'inputDisable': editCurrentRow != utilisateur.id}" />
			</td>


			<td>
				<label [ngClass]="{'container': editCurrentRow !==utilisateur.id, 'containerEdit' :
					editCurrentRow===utilisateur.id}">
					<input type="checkbox" [(ngModel)]="utilisateur.isCompt"
						[disabled]="editCurrentRow != utilisateur.id">
					<span [ngClass]="{'checkmark': editCurrentRow !==utilisateur.id, 'checkmarkEdit' :
						editCurrentRow===utilisateur.id}"></span>
				</label>
			</td>
			<td>
				<label [ngClass]="{'container': editCurrentRow !==utilisateur.id, 'containerEdit' :
					editCurrentRow===utilisateur.id}">
					<input type="checkbox" [(ngModel)]="utilisateur.isAdmin"
						[disabled]="editCurrentRow != utilisateur.id">
					<span [ngClass]="{'checkmark': editCurrentRow !==utilisateur.id, 'checkmarkEdit' :
						editCurrentRow===utilisateur.id}"></span>
				</label>
			</td>
			<td>
				<label [ngClass]="{'container': editCurrentRow !==utilisateur.id, 'containerEdit' :
					editCurrentRow===utilisateur.id}">
					<input type="checkbox" [(ngModel)]="utilisateur.isCom"
						[disabled]="editCurrentRow != utilisateur.id">
					<span [ngClass]="{'checkmark': editCurrentRow !==utilisateur.id, 'checkmarkEdit' :
						editCurrentRow===utilisateur.id}"></span>
				</label>
			</td>
			<td>
				<div *ngIf="editCurrentRow != utilisateur.id">
					<div *ngFor="let site of utilisateur.sites">{{site.designation}}</div>
				</div>

				<mat-select
					*ngIf="editCurrentRow === utilisateur.id && (utilisateur.isCompt === true || utilisateur.isCompt === 1 || utilisateur.isCom === true || utilisateur.isCom === 1 || utilisateur.isAdmin === true || utilisateur.isAdmin === 1)"
					[(ngModel)]="utilisateur.selectedSitesId" class="form-control" multiple>
					<mat-option *ngFor="let site of allSites" [value]="site.id">
						{{site.designation}}
					</mat-option>
				</mat-select>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<button *ngIf="editCurrentRow != utilisateur.id" (click)="switchEditRow(utilisateur)"
								class="edit">
								<i class="icon ion-ios-create editIcon"></i>
							</button>

							<button *ngIf="editCurrentRow === utilisateur.id"
								(click)="sauvegarderModifUtilisateur(utilisateur)" class="edit">
								<i class="icon ion-md-checkmark-circle-outline "></i>
							</button>

							<button *ngIf="editCurrentRow === utilisateur.id" (click)="annulerEdition(utilisateur)"
								class="edit">
								<i class="icon ion-md-close-circle-outline" size="large"></i>
							</button>
						</td>
						<td>
							<button mwlConfirmationPopover confirmText="Oui" cancelText="Non"
								popoverTitle="Message de confirmation"
								popoverMessage="Voulez-vous supprimer cet utilisateur ?" appendToBody="true"
								placement="top" (confirm)="onDelete(utilisateur.id)" class="edit dropdown-item"><i
									class="icon ion-md-trash" style="font-size: 1.8em;"></i>
							</button>
						</td>
					</tr>
				</table>

			</td>

		</tr>
	</tbody>
</table>

<div class="app-loading" [hidden]="this.hidden">
	<div class="logo"></div>
	<svg class="spinner" viewBox="25 25 50 50">
		<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
	</svg>
</div>

<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>