<div class="container">
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="form-group">
            <label for="statut">Code</label>
            <div class="row bouton">
                <div class="col-sm-8">
                    <input type="text" placeholder="FR03AL52..." class="form-control" name="code"
                        [(ngModel)]="designation" required>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>