<div id="barreNavHoriz">
  <nav>
    <ul>
      <li>
        <a routerLink="home">
          <img src="../assets/Images/capgemini_logo.jpg" alt="Acceuil" id="accueil" />
        </a>
      </li>
      <li *ngIf="this.loginService.isAdmin">
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="subAdmin" role="button" aria-haspopup="true"
            aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="admin/users">
              Paramétrage Utilisateurs
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="admin/parametrersite">
              Paramétrage Sites
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="admin/infosconnexion">
              Infos de connexion
            </a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <div id="titre">
    <h1>{{page}}</h1>
  </div>
  <div id="espaceLogin">
    <div *ngIf="this.loginService.logged">
      <p>{{this.loginService.initialPrenom}}{{this.loginService.nom}}<br />est connecté(e)</p>
    </div>
    <div *ngIf="!this.loginService.logged">
      <p>Connectez-vous !</p>
    </div>
    <a *ngIf="!this.loginService.logged" routerLink="login" data-toggle="modal" data-target="#modalConnexion">
      <i class="icon ion-md-log-in"></i>
    </a>
    <a *ngIf="this.loginService.logged" routerLink="home" (click)="this.loginService.logOut()">
      <i class="icon ion-md-log-out"></i>
    </a>
  </div>
</div>

<!--<ngx-toasta [position]="'top-center'"></ngx-toasta>-->

<div id="principal">
  <router-outlet></router-outlet>
</div>

<!--  Modal pour la connexion  -->
<div class="modal fade" id="modalConnexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <!--Modal: Connexion-->
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header primary-color white-text">
        <h4 class="title">
          <i class="fa fa-pencil"></i>Login</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <!-- Begin Contenu Modal Connexion -->

        <app-login></app-login>

        <!-- End Contenu Modal Connexion -->


      </div>
    </div>
    <!--/.Content-->
  </div>
  <!--/Modal: Contact form-->
</div>