#barreNavHoriz{
    position: fixed;
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    top:0;
    z-index: 50;
    border-radius: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFF;
    color: #000;
    box-shadow: 0px 2px 10px rgb(58, 58, 58);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}

nav ul li {
    border-right: 2px solid lightgrey;
    width: 170px;
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: rgb(0, 112, 173);
    font-family: ubuntu;
    font-size: 12pt;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav a:hover{

    color: rgb(18, 171, 219);
}

#titre {

    font-size: 1.2vw;
    font-family: ubuntu;
    color: rgb(0, 112, 173);
    margin: auto;
    text-align: center;
}

h1 {
    margin: auto;
    font-weight: bold;
}

#accueil {
    width: 110px;
}

#espaceLogin {
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 250px;
}

#espaceLogin div {
    margin: auto;
    display: flex;
    padding-bottom: 0;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
    color: rgb(18, 171, 219);
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
    height: 45px;
    font-weight: bold;
}

#espaceLogin div p {
    margin: auto;
}


.ion-md-log-out {
    color: #FF304C;
    font-size: 23pt;
    margin-right: 20px;
}


.ion-md-log-in {
    color: rgb(18, 171, 219);
    font-size: 23pt;
    margin-right: 20px;

}


#principal {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 130px;
}

.dropdown .dropdown-menu.show {
    margin-top: 1.3em;
    box-shadow: 0px 5px 10px rgb(151, 150, 150);
    left: -31px;
}

.dropdown-menu.show a{
    margin-top: 10px;
    margin-bottom: 10px;
}

::ng-deep .modal-backdrop{
  z-index:1;
}

::ng-deep .modal {
    z-index:10;
}

#modalConnexion{
    z-index:100;
}
  
