<div class="container">
    <div class="row">
        <vignette class="col-sm-12" id="test" [title]="'Créer un nouveau site'"
            [subtitle]="'Gestion et création des différents sites'">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form (ngSubmit)="onSubmit()" ngNativeValidate>
                            <div class="form-group">
                                <div class="row bouton">
                                    <div class="col-sm-10">
                                        <input type="text" placeholder="Paris..." class="form-control" name="site"
                                            [(ngModel)]="this.designation" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" style="display:float;" class="btn btn-primary"
                                            (click)="rafraichirListeDesSites()">OK</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </vignette>
    </div>
</div>

<div class="app-loading" [hidden]="this.hidden">
    <div class="logo"></div>
    <svg class="spinner" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>

<div *ngIf="siteArray.length === 0">Aucun site renseigné. Vous devez créer un site en renseignant le nom de la ville
    associée.</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 " *ngFor="let site of siteArray">
                <vignette [title]="'Site de '+ site.designation"
                    [subtitle]="'Gestion des différents codes du site de '+ site.designation"
                    [chartType]="emailChartType" [chartData]="emailChartData" [legendItems]="emailChartLegendItems"
                    [withHr]="true" [footerIconClass]="'fa fa-clock-o'">
                    <app-site [sites]="siteArray" [site]="site" (siteUpdate)="siteArray = $event"></app-site>
                    <app-listview-site [site]="site">
                    </app-listview-site>
                    <button type="submit" mwlConfirmationPopover confirmText="Oui" cancelText="Non"
                        popoverTitle="Message de confirmation"
                        popoverMessage="Êtes-vous sûr de vouloir supprimer ce site ?" appendToBody="true"
                        placement="top" class="close" aria-label="Close" (confirm)="confirmSuppression(site.id)">
                        <span aria-hidden="true"><i class="icon ion-md-trash"></i></span>
                    </button>
                </vignette>
            </div>
        </div>
    </div>
</div>