<div class="panel panel-primary">
    <div class="panel-heading" style="font-size: 17px;">
        &nbsp; <p> Liste des codes : </p>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li *ngFor="let code of site.codes" class="list-group-item">
                {{code.designation}}
                <button type="submit" mwlConfirmationPopover confirmText="Oui" cancelText="Non"
                    popoverTitle="Message de confirmation" popoverMessage="Êtes-vous sûr de vouloir supprimer ce code ?"
                    appendToBody="true" placement="top" class="close" aria-label="Close"
                    (confirm)="confirmSuppressionCode(code.id)">
                    <span aria-hidden="true"><span aria-hidden="true">&times;</span></span>
                </button>
                <span *ngIf="code.actif == 1">1</span>
            </li>
        </ul>
    </div>
</div>