<form (ngSubmit)="onLogin(f)" #f="ngForm" >
  <!-- Grid column -->
  <div>
      <div class="card">
          <div class="card-body"  >
              <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Connexion</h3>
              <!--Body-->
              <div class="md-form" *ngIf="!this.loginService.logged">
                <div class="row">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="login" class="form-control" name="username" [(ngModel)]="login.username" ngModel required>
                    <label for="username">Votre e-mail</label>
                  </div>
              </div>
           
                  <div class="text-center">
                      <button class="btn btn-primary " *ngIf="!this.loginService.logged">Se connecter
                     <i class="fa fa-send ml-2"></i>
                 </button>
             
                  </div>
              </div>
          </div>
      </div>
</form>
