<button class="boutonLien retour" type="button" routerLink="/admin/users">Retour</button>
<div class="titreH2">
  <h2>Créer un utilisateur</h2>
</div>
<div class="formContent">
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="form" ngNativeValidate>
    <div class="form-group">
      <label for="nom">
        Nom
      </label>
      <input type="text" id="nom" class="form-control" name="nom" [(ngModel)]="utilisateur.nom" placeholder="Champ requis."
        autocomplete="off" required />
    </div>
    <div class="form-group">
      <label for="prenom">
        Prénom
      </label>
      <input type="text" id="prenom" class="form-control" name="prenom" [(ngModel)]="utilisateur.prenom" placeholder="Champ requis."
        autocomplete="off" required />
    </div>
    <div class="form-group">
      <label for="mail">
        Mail
      </label>
      <input type="email" id="mail" class="form-control" name="mail" [(ngModel)]="utilisateur.mail" placeholder="Champ requis."
        autocomplete="off" required />
    </div>
    <div class="form-group">
      <p>Rôle</p>
      <div class="form-group">
        <hr />
        <label for="isAdmin">ADMIN</label><input class="form-control" type="checkbox" name="isAdmin" [(ngModel)]="isAdmin" />
        <hr />
        <label for="isPum">COMPT</label><input class="form-control" type="checkbox" name="isCompt" [(ngModel)]="isCompt" />
        <hr />
        <label for="isCom">COM</label><input class="form-control" type="checkbox" name="isCom" [(ngModel)]="isCom" />
        <hr />

      </div>
    </div>
    <div class="form-group">
      <label for="site">
        Sites
      </label>
      <mat-form-field >
        <mat-select multiple name="site" class="form-control" [(ngModel)]="site">
          <mat-option *ngFor="let s of sites" value="{{s.id}}">{{s.designation}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <button class="btn btn-primary" type="submit">Enregistrer</button>
      <button class="btn btn-danger" type="button" routerLink="/admin/users">Retour</button>
  </form>
</div>
